<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Arguments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SignPost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SourceryAutoProtocols.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SourceryWorker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Task.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TestKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD1126CB21C77F050072607D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD1126D321C77F050072607D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB7A8B821CD5EA10045DDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB7A9E121CD736C0045DDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDB7A9FB21CD7E8C0045DDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC156DA21C5347C00E04B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDC156E221C5347D00E04B44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE9B67D21C588CD00D1F50A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE9B6DA21C58E8200D1F50A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDE9B6F621C58ED400D1F50A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEC118621C65D9200CB7DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDEC119721C65D9400CB7DAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Arguments</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::ArgumentsTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Deliver</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::DeliverTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Errors</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Git</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::GitTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::HWKit</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::HighwayCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::HighwayProject</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Keychain</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::POSIX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::POSIXTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Result</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::ResultTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::SourceryAutoProtocols</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::SourceryMocks</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Task</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::TaskTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Terminal</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::TerminalTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::Url</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::UrlTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::XCBuild</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>highway::XCBuildTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
