/Carthage/Build
/Frameworks🛣/XCBuildData
.DS_Store
/🛣Products/macosx/XCBuildData
/🛣Products/macosx/🛣.build
/🛣.xcodeproj/project.xcworkspace/xcuserdata
/🛣.xcodeproj/xcuserdata
.build.nosync
/EmbedHighWay/🛣.xcodeproj/xcuserdata
/EmbedHighWay/🛣.xcodeproj/project.xcworkspace/xcuserdata
/Automate🛣.xcodeproj/xcuserdata/doozmen.xcuserdatad
/Automate🛣/Automate🛣.xcodeproj/xcuserdata
/Automate🛣/Automate🛣.xcodeproj/project.xcworkspace/xcuserdata
/Automate🛣.xcodeproj/project.xcworkspace/xcuserdata
/.sourcery-XCBuild.yml
/.sourcery-Url.yml
/.sourcery-Terminal.yml
/.sourcery-Task.yml
/.sourcery-SourceryWorker.yml
/.sourcery-SignPost.yml
/.sourcery-Result.yml
/.sourcery-POSIX.yml
/.sourcery-Keychain.yml
/.sourcery-Git.yml
/.sourcery-Errors.yml
/.sourcery-Deliver.yml
/.sourcery-Arguments.yml
