
Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Carthage & macOS

/Carthage/Build
.DS_Store


## Sourcery (files are generated)

/Sources/highway/.sourcery-XCBuild.yml
/Sources/highway/.sourcery-Url.yml
/Sources/highway/.sourcery-Terminal.yml
/Sources/highway/.sourcery-Task.yml
/Sources/highway/.sourcery-SourceryWorker.yml
/Sources/highway/.sourcery-SignPost.yml
/Sources/highway/.sourcery-Result.yml
/Sources/highway/.sourcery-POSIX.yml
/Sources/highway/.sourcery-Keychain.yml
/Sources/highway/.sourcery-Git.yml
/Sources/highway/.sourcery-Errors.yml
/Sources/highway/.sourcery-Deliver.yml
/Sources/highway/.sourcery-Arguments.yml
.gitsecret/keys/random_seed
/Sources/highway/Sources/AutomateHighway/AuthKey_VV7NT37UVU.p8
Carthage
/Sources/highway/.build
/.build
/HighwaySetup/.build
/HighwaySetup/HighwaySetup.xcodeproj
/Highway.xcodeproj
/Sources/Stub/SwiftPackageDependencyService.json
/Sources/.sourcery-Arguments.yml
/Sources/.sourcery-CarthageWorker.yml
/Sources/.sourcery-Errors.yml
/Sources/.sourcery-Git.yml
/Sources/.sourcery-GitHooks.yml
/Sources/.sourcery-HighwayDispatch.yml
/Sources/.sourcery-HWSetup.yml
/Sources/.sourcery-POSIX.yml
/Sources/.sourcery-SignPost.yml
/Sources/.sourcery-SourceryWorker.yml
/Sources/.sourcery-Stub.yml
/Sources/.sourcery-SwiftFormatWorker.yml
/Sources/.sourcery-Task.yml
/Sources/.sourcery-Terminal.yml
/Sources/.sourcery-Url.yml
/Sources/.sourcery-XCBuild.yml
/Sources/Stub/SwiftPackageDumpService.json
/Sources/.sourcery-Highway.yml
/Sources/.sourcery-HWCarthage.yml
/Sources/.sourcery-HWPod.yml
/Sources/.sourcery-HWPOSIX.yml
