[submodule "Carthage/Checkouts/Sourcery"]
	path = Sources/Carthage/Checkouts/Sourcery
	url = https://github.com/krzysztofzablocki/Sourcery.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Sources/Carthage/Checkouts/Nimble
	url = https://github.com/doozMen/Nimble.git
