
# JWT Token generation

github "Bolides/CupertinoJWT"

# Format ♥

github "nicklockwood/SwiftFormat"

github "antitypical/Result" ~> 4.0

# Auto generate Code

github "doozMen/template-sourcery"
github "doozMen/Sourcery"

# Fancy terminal

github "doozMen/CLISpinner" ~> 0.4.0
