# Persistance

#github "doozMen/ZFile"

# Auto generate Code

github "doozMen/template-sourcery"

# Testing

github "doozMen/Quick"
github "doozMen/Nimble"

# JWT Token generation

github "doozMen/CupertinoJWT"
